*{
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
scroll-behavior: smooth;
}

div{

display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;
flex-wrap: wrap;
background: rgb(233, 231, 231);


}

button{

margin: 5vh 5vw;
padding: 20px;
background-color: greenyellow;
color: black;
font-weight: 600;
font-size: 30px;
border: none;
border-radius: 10px;
cursor: pointer;
transition: .5s ease-in;

}